h1{
    background-color: aqua;
}
.down{
    background-color: red;
}
.caat{
    background-color: blueviolet;
    display: inline;
}
.cat{
    border: 10px solid lightskyblue;
}
.tree{
display: block;
border: 10px solid hotpink;
}
#last{
display: block;
margin: auto;

}
a{
    display: block;
}

#work{
    display: block;
    margin: auto;
}