h1{
    color:aquamarine;
    text-align: center;
}
p{
    font-size: smaller;
}
#second{
    font-weight: bold;
}
#bear{
    color:yellow;
    font-size: larger;
    background-color: azure;
    background-image: url(bear.png);
    width: 600px;
    height:450px;
}
#frame{
    padding: 15px;
    margin: 25px;
    border:2px solid rebeccapurple;
    width: 250px;
}
#text{
    width: 300px;
    height: 250px;
}
.last{
    width: 200px;
    height: 100px;
    border: 1px solid black;
    overflow: scroll;
}